:root {
    --dark: #36393b;
    --blue: #6bbfff;
    --orange: #a44200;
    --light: #9b9b9b;
    --headerfont: 'Cinzel', sans-serif;
    --bodyfont: 'Playball', cursive;
}

body {
    background-color: var(--orange);
}

.container {
    background-color: var(--dark);
    border: 3px solid var(--blue);
    border-radius: 5px;
}

.card-title {
  color: var(--orange);  
}

.card {
    background-color: var(--light);
    border: 3px solid var(--blue);
    border-radius: 5px;
}

.btn {
    
    background-color: var(--orange) ;
    border: 2px solid var(--blue);
    border-radius: 5px;
    color: #36393B;
}

a {
    font-family: 'Cinzel', serif;
}

.custom-font-title {
    font-family: 'Cinzel', serif;
}

